@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
  width: 50%;
}

.form, .card {
  height: 200px;
  width: 300px;
  margin: 2px;
  padding: 5px;
}

.form {
  border: 1px solid salmon;
}

.card {
  border: 1px solid green;
}
